.book-list-wrapper > h1 {
    padding: 1rem;
    text-align: center; /* 제목을 가운데 정렬 */
}

.book-list-title {
    margin-bottom: 1.5rem; /* 제목 아래 여백 추가 */
}

.book-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 카드들이 왼쪽부터 정렬되도록 설정 */
    padding: 1rem;
}

.book-list-container > div {
    flex: 0 0 300px; /* 기본 카드의 고정 너비 설정 */
    margin: 1rem;
    box-sizing: border-box;
}

@media (max-width: 660px) {
    .book-list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }
    .book-list-container > div {
        flex: 0 0 calc(100% - 2rem); /* 화면 너비에 따라 카드의 너비를 설정 */
        margin: 1rem;
    }
}
